.tab-bar {
  background-color: #fcfcfc;

  .control {
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .button-refresh {
      margin-right: 14px;
    }
  }

  .cards {
    margin: 20px;
  }
  .title {
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .button-delete {
      margin-right: 14px;
    }
  }
}
